@font-face {
  src: url("./arlrdbd.ttf");
  font-family: "arlrdbd";
}
#imageDiv {
  background:black;
  min-width:175px;
  min-height: 175px;
  width:175px;
  height:175px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 55px;
  border : solid black;
  box-sizing: border-box;
//  background-image: url('./5.png');
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

#image {
  border-radius: 55px;
  padding-top:3px;
  width:120px;
  height:120px;
}

#fileUpload {
  display: none;
}

label {
  color:white;
  //font-size: 40px;
  padding:0px;
  margin:0px;
  display: block;
}

h1, h2{
  font-family: url('./arlrdbd.ttf');
  display:inline-flex;
  //font-size:24px;
  margin-bottom: 50px;
  color:#484848;
  padding-right: 20px;
}

h3{
  font-size:20px;
  margin: 0px;
  color: #484848;
}

body{
  //text-align: center;
  text-align: -webkit-center;
  font-family: "arlrdbd";
  width:100%;
  height:100%;
  background-color: #F0EEE5;
}

p{
  margin:0px;
  color: #484848;
}

#profile{
  margin-bottom: 30px;
}

#colorPicker{
  //display:none;
  background-color:black;
  background-image:none !important;
  border: 0px;
  width:168px;
  height:31px;
  border-radius: 9px;
}

#colorDiv {

}

#done{
  margin-top:60px;
  border-radius: 25px;
  width:132px;
  height: 40px;
  border:0px;
  background-color: #5D74A7;
  color: #FFFFFF;
}

.slider{
  width:210px;
}

#controlDiv{
  margin-top: 80px;
  width:220px;
  height:160px;
  background-color: white;
  border-radius: 19px;
  border: 0px;
  padding: 20px;
}

#controlDiv > p{
  text-align: left;
  padding:10px;
}
